@{
    ViewData["Title"] = "Link a GitHub";
}
<h1>@ViewData["Title"]</h1>

<p>Para ver el código de esta aplicación, visita nuestro <a href="https://github.com/Mastrom10/VideoClub-TP-LPPA">repositorio de GitHub</a>.</p>
